@import "variables";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: $font;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: $h1;
  margin-right: 100px;
}
