@import "global";
@import "variables";
@import "mixins";

.logo {
  height: 50px;
}

.photographer {
  &_container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @include devices(mobile) {
      height: auto;
      width: 100%;
      display: flex;
    }
  }
  &-article {
    width: calc((100% / 3) - 2%);
    max-width: 265px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include devices(mobile) {
      width: 100%;
      margin: 5% auto 5%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-name {
    color: $h2;
    font-size: calc(1rem + 1vw);
  }
  &-portrait {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin: 3% auto 3%;
    @include devices(mobile) {
      max-height: 300px;
      max-width: 300px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &-localisation {
    font-size: calc(0.4em + 1vw);
    color: $h1;
  }
  &-tagline {
    font-size: calc(0.4em + 1vw);
  }
  &-price {
    padding: 1%;
    line-height: 1.5;
    color: $grey;
    font-size: calc(0.4em + 1vw);
  }
}

// Photographe
.profile {
  &-contact {
    background-color: $h1;
    color: #ffffff;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    order: 2;
  }
  &-contact:hover {
    background-color: $button;
  }
  &-article {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    @include devices(mobile) {
      width: 100%;
      flex-direction: column-reverse;
      margin-bottom: 5%;
    }
    &_details {
      order: 1;
    }
    & img {
      order: 3;
      margin: 0;
      object-fit: cover;
      @include devices(mobile) {
        width: 100%;
        height: 100%;
        margin: 5% 0 5%;
      }
    }
  }
}

.contact_modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  position: relative;
  z-index: 1000;
  max-width: 80%;
  min-height: 60vh;
  display: none;
  margin: auto;
  background-color: $background;
  font-size: 1.2em;
  font-weight: 300;
  &-container {
    padding: 0 5% 0;
  }
  &_header {
    padding: 3% 0 1%;
    align-items: start;
    &-name {
      flex-direction: column;
      font-size: 1.7em;
      padding-bottom: 1%;
    }
    &_closeBtn {
      border: none;
      background: none;
      //width: 5vw;
      width: 42px;
      min-height: 42px;
      height: auto;
      background: url("../assets/icons/contact_close.svg") no-repeat center;
    }
  }
  &-form {
    height: 70%;
    padding: 3% 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &_input {
    width: 100%;
    height: 5vh;
    margin-bottom: 2%;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
  }
  &_message {
    min-height: 170px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
  }
  &_button {
    background-color: $h1;
    color: #ffffff;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 5px;
  }
}

// Media
.gallery {
  display: flex;
  flex-direction: row;
  &_container {
    margin: auto;
    padding: 0 3% 5% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @include devices(mobile) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &-article {
    height: auto;
    margin: 1% 0 1%;
    width: 350px;
    color: $h1;
    flex-direction: column;
    text-align: center;
    &_picture {
      width: 350px;
      height: 300px;
      object-fit: cover;
    }
    &_description {
      background-color: #ffffff;
      height: auto;
      display: flex;
      margin: 2% 0 0 0;
      padding: 0 5% 0;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1em;
    }
    &_likescontainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.2em;
      color: $h1;
    }
    &_likes {
      margin-right: 5px;
    }
    @include devices(mobile) {
      width: 100%;
    }
  }
}

// Filter
.filter-wrapper {
  display: flex;
  flex-direction: row;
}
.dropMenu {
  position: relative;
  display: flex;
  align-items: center;

  &:focus-within .dropMenu-options {
    display: block;
  }
}
.dropMenu_label {
  font-weight: 800;
  font-size: 18px;
  margin-right: 10px;
  border: none;
  background: none;
}
.dropMenu-options {
  display: none;
  position: absolute;
  min-width: 170px;
  min-height: 170px;
  width: 205px;
  z-index: 1;
  background-color: $h1;
  box-sizing: border-box;
  padding: 10px 18px;
}
.dropMenu-options button {
  display: block;
  border: none;
  background-color: $h1;
  text-align: left;
  font-size: 18px;
  color: #ffffff;
  width: 100%;
  min-height: 50px;
  cursor: pointer;
  box-sizing: border-box;
}
.dropMenu-options button:hover {
  background-color: $h1;
  cursor: pointer;
}

.dropMenu:hover .fa-chevron-up {
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}

.dropMenu-options button:nth-child(1) {
  border-bottom: 1px solid #ffffff;
}
.dropMenu-options button:nth-child(2) {
  border-bottom: 1px solid #ffffff;
}
.dropMenu:hover .dropMenu-options {
  display: block;
}
.filter-wrapper label {
  margin-right: 20px;
}
.selected-option-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  background-color: $h1;
  padding: 10px 18px;
  border-radius: 4px;
  position: relative;
}
.selected-option {
  color: #ffffff;
}
.option-wrapper .fa {
  color: #ffffff;
  position: absolute;
  right: 10px;
}

// Lightbox

.lightbox {
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &__media_name {
    font-size: 1.2em;
    color: $h1;
    margin: 0 0 5%;
  }
  &_button {
    background-color: transparent;
    border: none;
  }
  &-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
  }
  &-content-media {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: auto;
  }
  &__image {
    width: 60vw;
    height: 80vh;
    margin: 0 auto 0;
    //padding: 0 50% 0;
    //padding: 0 auto 0;
    object-fit: cover;
  }
  &__video {
    width: 60vw;
    height: 80vh;
    margin: 0 auto 0;
    padding: 0 auto 0;
    object-fit: cover;
  }
  &_controlers {
    background: none;
    margin-top: 9%;
    height: 100%;
    flex-direction: column !important;
  }
  &-prev {
    background: none;
    border: none;
    width: 3vw;
    height: auto;
    margin: 10px 30px 0;
  }
  &-next {
    background: none;
    border: none;
    width: 3vw;
    height: auto;
    margin: 15px 25px 0;
  }
  &-close {
    border: none;
    background: none;
    width: 3vw;
    height: auto;
    margin: 0 0 26vh 2%;
  }
}

// Likes modal

.likes-modal-content {
  position: fixed;
  width: 375px;
  height: auto;
  min-height: 60px;
  padding: 0 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  right: 0;
  border-radius: 5px 5px 0 0;
  background-color: $background;
  font-size: 1.5em;
  &_text {
    .likes-container {
      display: flex;
      align-items: center;
    }
  }
}
