* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-shadow: 0 0 0 1px red inset;
          box-shadow: 0 0 0 1px red inset;
}

body {
  font-family: "DM Sans", sans-serif;
  max-width: 100vw;
  height: 100vh;
}

header {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

@media only screen and (max-width: 750px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin: 5% auto 5%;
  }
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

@media only screen and (max-width: 750px) {
  h1 {
    margin-right: 0;
  }
}

.logo {
  height: 50px;
  margin-left: 100px;
}

@media only screen and (max-width: 750px) {
  .logo {
    margin-left: 0;
  }
}

.photographer_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 750px) {
  .photographer_container {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.photographer-article {
  width: 30%;
  margin: 1% 0 1%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 750px) {
  .photographer-article {
    width: 100%;
  }
}

.photographer-name {
  color: #d3573c;
  font-size: calc(1rem + 1vw);
}

.photographer-portrait {
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 200px;
  margin: 3% auto 3%;
}

@media only screen and (max-width: 750px) {
  .photographer-portrait {
    height: 300px;
    width: 300px;
    border-radius: 150px;
  }
}

.photographer-localisation {
  font-size: calc(0.4em + 1vw);
  color: #901c1c;
}

.photographer-tagline {
  font-size: calc(0.4em + 1vw);
}

.photographer-price {
  padding: 1%;
  line-height: 1.5;
  color: #757575;
  font-size: calc(0.4em + 1vw);
}

.profile-contact {
  background-color: #901c1c;
  color: #ffffff;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.profile-contact:hover {
  background-color: #d3573c;
}

.profile-article {
  width: auto;
  margin: 0 5% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 750px) {
  .profile-article {
    width: 100%;
  }
}

.profile-article_details {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.profile-article img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 750px) {
  .profile-article img {
    width: 100%;
    height: 100%;
  }
}

.modal {
  display: none;
  background-color: #db8876;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal_button {
  background-color: #d3573c;
  color: #ffffff;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 5px;
}
/*# sourceMappingURL=style2.css.map */